## Version 2025/07/18
# make sure that your wallabag container is named wallabag
# make sure that your dns has a cname set for wallabag
# also, make sure your env var in your docker run or compose match the full domain, incl. https://
# i.e. - SYMFONY__ENV__DOMAIN_NAME=https://wallabag.yourdomain.com

server {
    listen 443 ssl;
#    listen 443 quic;
    listen [::]:443 ssl;
#    listen [::]:443 quic;

    server_name wallabag.*;

    include /config/nginx/ssl.conf;

    client_max_body_size 0;

    # enable for ldap auth (requires ldap-location.conf in the location block)
    #include /config/nginx/ldap-server.conf;

    # enable for Authelia (requires authelia-location.conf in the location block)
    #include /config/nginx/authelia-server.conf;

    # enable for Authentik (requires authentik-location.conf in the location block)
    #include /config/nginx/authentik-server.conf;

    # enable for Tinyauth (requires tinyauth-location.conf in the location block)
    #include /config/nginx/tinyauth-server.conf;

    location / {
        # enable the next two lines for http auth
        #auth_basic "Restricted";
        #auth_basic_user_file /config/nginx/.htpasswd;

        # enable for ldap auth (requires ldap-server.conf in the server block)
        #include /config/nginx/ldap-location.conf;

        # enable for Authelia (requires authelia-server.conf in the server block)
        #include /config/nginx/authelia-location.conf;

        # enable for Authentik (requires authentik-server.conf in the server block)
        #include /config/nginx/authentik-location.conf;

        # enable for Tinyauth (requires tinyauth-server.conf in the server block)
        #include /config/nginx/tinyauth-location.conf;

        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_app wallabag;
        set $upstream_port 80;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    }

    # Allows API access, including with WallaBag OAuth. Useful for example w/WallaBagger browser extension.
    #location ~ ^/(api/(entries|tags|annotations|info|version|user|graphql)(\.json)?(/.*)?|oauth/v2/(token|auth))$ {
    #    include /config/nginx/proxy.conf;
    #    include /config/nginx/resolver.conf;
    #    set $upstream_app wallabag;
    #    set $upstream_port 80;
    #    set $upstream_proto http;
    #
    #    # + CORS ------------------------------------------------------------------------------------------------ +
    #
    #    # Least secure; uncomment only if needed (and comment out the other 2).
    #    #add_header 'Access-Control-Allow-Origin' '*' always;
    #
    #    # Allows CORS only for browser extensions? (less secure than your specific extension ID, but more than '*')
    #    # and more portable.
    #    set $cors_origin "";
    #    if ($http_origin ~* "^(chrome|moz)-extension://") {
    #        set $cors_origin $http_origin;
    #    }
    #    add_header 'Access-Control-Allow-Origin' $cors_origin always;
    #
    #    # Most secure if only using WallaBagger/browser extension (but must match its specific extension ID)
    #    #add_header 'Access-Control-Allow-Origin' 'chrome-extension://gbmgphmejlcoihgedabhgjdkcahacjlj' always;
    #
    #    # Least secure; uncomment only if needed.
    #    #add_header 'Access-Control-Allow-Methods' 'GET, POST, PATCH, PUT, DELETE, OPTIONS' always;
    #
    #    # Most secure if only using WallaBagge/browser extension
    #    add_header 'Access-Control-Allow-Methods' 'GET, POST, PATCH, OPTIONS' always;
    #
    #    add_header 'Access-Control-Allow-Headers' 'Authorization, Content-Type' always;
    #
    #    if ($request_method = OPTIONS) {
    #        return 204;
    #    }
    #
    #    # + CORS End--------------------------------------------------------------------------------------------- +
    #
    #    proxy_pass $upstream_proto://$upstream_app:$upstream_port;
    #}
}
